@media (max-width: 1300px) {
}

@media (min-width: 320px) and (max-width: 1300px) {
  nav .container {
    width: 90%;
    position: relative;
  }
  nav .container .logo {
    width: 15%;
  }
  nav .icon {
    width: 50px;
    height: 40px;
    border: 2px solid var(--mainColor);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
  }
  nav .icon span {
    width: 60%;
    height: 2px;
    background-color: var(--mainColor);
  }
  nav .links {
    position: absolute;
    top: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    height: 0px;
    overflow: hidden;
    transition-duration: 1s;
  }
  nav .links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
  nav .container .links ul li:not(:last-child) {
    margin-right: 0;
  }
  nav .links ul li:not(:last-child) {
    margin-bottom: 20px;
  }

  nav .icon:focus + .links {
    height: 260px;
  }
}

@media (min-width: 577px) and (max-width: 1300px) {
  nav .container .logo {
    width: 12%;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  nav .container .logo {
    width: 10%;
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  nav .container .logo {
    width: 8%;
  }
  nav .links {
    width: 80%;
    left: 50%;
    transform: translatex(-50%);
  }
}

@media (min-width: 1181px) and (max-width: 1300px) {
}
